body {
  background-image: url('../../backend/img/starting_screen/Wallpaper.jpg');
  font-family: Impact;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0px;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5); /*itt tudsz a hátteren sötétíteni ha nem tetszik 1 és 0 között*/
  pointer-events: none;
  z-index: -1;
}


/*
html { 
  overflow-y: hidden; /* scrollbar eltüntetése, deaktíválása 
  overflow-x: hidden;
} */

#menu {
  text-align: center;
  vertical-align:middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu-cim {
  font-size: 48px;
  color: white;
  margin-bottom: 40px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.gombok {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background: none;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s, color 0.2s;
}

.gombok:hover {
  transform: scale(1.1);
}

#zenegomb {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

.menu-gomb{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

#game-container {
  padding: 20px;
  color: white;
  font-size: 28px;
}

.jatek_fajlok{
  display: grid;
  gap: 20px;
  color: white;
  font-size: 28px;
}

.jatek_fajlok img {
  width: 100%;
  height: auto;
}

.jatek_fajlok:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.dekor_vonal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
  position: relative;
}


.dekor_vonal::before,
.dekor_vonal::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #ffffff; 
}

.kocka {
  position: relative;
  top: -20px;
  left: 8px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg); 
}

#vissza_gomb {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.beallitas_menu {
  padding: 20px;
  color: white;
  font-size: 28px;
}

.achivement_container{
  padding: 20px;
  color: white;
  font-size: 28px;
}

.achivement_kep {
  width: 100%;
  height: auto;
}

.click_to_reveal{
  text-align: center;
  background-color: black;
}

.scrolldiv{
  overflow-y: scroll !important;
  max-height: 500px;
}

.credits_container{
  padding: 20px;
  color: white;
  font-size: 28px;
  text-align: center;
}